<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>418137778440-3gpp6r6q3rokt5jhmlun2dq5bm8oa4ad.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.418137778440-3gpp6r6q3rokt5jhmlun2dq5bm8oa4ad</string>
	<key>API_KEY</key>
	<string>AIzaSyBZJdch8-wP5kHXwPJkRJgZHSECmpXL3dM</string>
	<key>GCM_SENDER_ID</key>
	<string>418137778440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ir.tmvco.metro</string>
	<key>PROJECT_ID</key>
	<string>tabriz-metro-6c617</string>
	<key>STORAGE_BUCKET</key>
	<string>tabriz-metro-6c617.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418137778440:ios:731bb7eb53f27bab87e4bd</string>
</dict>
</plist>